body {
  text-align: center;
  font-family: courier;
  background-color: #F5F1E9;
  justify-content: center;
}

#calendar{
  margin-left: auto;
  margin-right: auto;
  display:flex;
  font-family: 'Lato', sans-serif;
}
#calendar_left{
    width: 340px;
    border-radius: 12px 0 0 12px;
}
#calendar_right{
    width: 480px;
    margin-left: 4px;
}
#calendar_left .c_day{
    width: 100%;
    height: 37px;
    text-align: center;
    padding: 18px 0;
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 0px 0px 0px;
    font-size: 1.5em;
    color: #FFFFFF;
    float: left;
    border: 2px solid rgba(0, 0, 0, 0.1);
    position: relative;
    position: relative;
    float: left;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#calendar_left .c_date{
    font-size: 8em;
    font-weight: 900;
    color: black;
    text-align: center;
    color: #787878;
    line-height: 446px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid rgba(0,0, 0, 0.1);
    position: relative;
    float: left;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#calendar_left .c_pages{
   background: linear-gradient( to bottom, #ffffff, #ffffff 2px, #787878 5px, #787878 );
   background-size: 100% 5px;
   height: 30px;
   text-align: center;
   color: #787878;
   line-height: 452px;
   border: 2px solid rgba(0, 0, 0, 0.1);
   border-top: 4px solid rgba(0,0, 0, 0.1);
   position: relative;
   float: left;
   width: 100%;
   border-radius: 0px 0 0 12px;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  position: relative;
  width: 480px;
  overflow: hidden;
  float: left;
  z-index: 10;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878;
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px;
  border-radius: 0px 0px 12px 0px;
}
#calendar_content div{
  float: left;
}
#calendar_content div:hover{
  background-color: #F8F8F8;
}
#calendar_content div.blank{
  background-color: #E8E8E8;
}
#calendar_left, #calendar_header, #calendar_content div.today{
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
  position: relative;
  background-color: #e8e8ef;
}
#calendar_content div.today{
  color: #FFFFFF;
}
#calendar_header{
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #FF6860;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 0 12px 0px 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#calendar_header h1{
  font-size: 1.5em;
  color: #FFFFFF;
  float:left;
  width:70%;
}
i[class^=icon-chevron]{
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
}


    h1 {
    	font-family: helvetica;
    	font-weight: normal;
    	text-align: center;
    	color: #c0c0c0;
    	padding-top: 50px;
    	padding-bottom: 10px;
    	width: 375px;
    	margin: 0 auto;
    	border-bottom: 3px solid #f3f3f3;
    }

    .containers {
    	width: 520px;
    	margin: 20px auto;
    }

    .menu_btn {
    	font-family: helvetica;
    	width: 125px;
    	float: left;
    	margin-left: 5px;
    	&:first-child .dd_btn {
    		background: #f1c40f;
    		&:active {
    			background: #f39c12;
    		}
    	}
    	&:nth-child(2) .dd_btn {
    		background: #2ecc71;
    		&:active {
    			background: #27ae60;
    		}
    	}
    	&:nth-child(3) .dd_btn {
    		background: #3498db;
    		&:active {
    			background: #2980b9;
    		}
    	}
    	&:nth-child(4) .dd_btn {
    		background: #e74c3c;
    		&:active {
    			background: #c0392b;
    		}
    	}
    	.dd_btn {
    		height: 50px;
    		width: 125px;
    		color: #fff;
    		font-size: 18px;
    		border: 0px;
    		z-index: 3;
    		float: left;
    		cursor: pointer;
      	background-color:#E19E19;
    		&:active {
      		background-color:#946810;
    		}
    		&:focus {
    			outline: none;
    		}
    	}
    	.dd {
    		position: absolute;
    		width: 255px;
    		margin-top: 55px;
    		background: white;
    		text-align: center;
    		a {
    			width: 100%;
    			display: block;
    			height: 100%;
    			padding: 15px 0 15px 0;
    			text-decoration: none;
    			color: #666;
    			background: #f9f9f9;
    			&:hover {
    				background: #ecf0f1;
    			}
    			&:active {
    				background-color: #bdc3c7;
    				color: #fff;
    			}
    		}
    	}
    }

.cal{ display:inline-block; background:#ffe; color:#555; font-size:6px; text-align:center; transform:scale(1); transition:all 0.2s linear;}
.cal:hover{ transform:scale(2.5);transition:all 0.4s linear;}
.cal caption{ background:#d44; color:#eee; font-size:15px;}
.cal th{ color:#aaa;line-height:200%;}
.cal th:first-child{ color:#f00;}
.cal th:last-child{ color:#04d;}
.cal td{ padding:0 2px; line-height:100%;}
